.botonSeleccion {margin:10px 1px 0 1px;border:1px solid #ccc;padding:10px;}
.izq{border-radius:10px 0 0 10px;}
.der{border-radius:0 10px 10px 0;}
.circulo{border-radius:10px 10px 10px 10px;}
.lista {
    width: 560px;
    margin: 0 0 20px 0;
    border: 1px solid #337ab7;
    padding: 10px;
    border-radius: 10px 0 0 10px;
    height: 80px;
}
.col-centered{
    float: none;
    margin: 0 auto;
}

.panel-select{
    //height: 160px;
    height: 260px;
}