.alertaCirculoAmarillo{
   border: 1px solid #aaa;
   border-radius: 50%;
   width: 70%;
   height: 55%;
   background-color: yellow;
   margin: 0 auto;
   box-shadow: 1px 1.5px 8px #aaa;
}

.alertaCirculoRojo{
  border: 1px solid #aaa;
  border-radius: 50%;
  width: 70%;
  height: 55%;
  background-color: red;
  margin: 0 auto;
  box-shadow: 1px 1.5px 8px #aaa;
}

.alertaCirculoVerde{
  border: 1px solid #aaa;
  border-radius: 50%;
  width: 70%;
  height: 55%;
  background-color: green;
  margin: 0 auto;
  box-shadow: 1px 1.5px 8px #aaa;
}

.alertaCirculoDefault{
  border: 1px solid #aaa;
  border-radius: 50%;
  width: 70%;
  height: 55%;
  background-color: gray;
  margin: 0 auto;
  box-shadow: 1px 1.5px 8px #aaa;
}
