.ibox-content {
    width: 580px;
    margin: 10px;
}

.row.m-b-md {
    margin: 1px;
}


h2 {
    margin: 14px;
}


a.btn.btn-default.m-r {
    padding-left: 11px;
    margin-left: 20px;
}

select.form-control {
    width: 250px;
}


.col-lg-12 {
    margin-left: 330px;
}