button.btn.btn-danger {
    margin-left: 8px;
}



button.btn.btn-primary {
    margin-right: 12px;
}


.input-group {
    width: 300px;
}

.table {
    tr {
        th[data-col='auditoria']    { font-size: 12px;height: 0px;padding-left: 3px;padding-right: 3px; padding-bottom: 3px; padding-top: 3px;}
        th[data-col='fecha']  { font-size: 12px;height: 0px;padding-left: 3px;padding-right: 3px; padding-bottom: 3px; padding-top: 3px;}
        th[data-col='estado']     { font-size: 12px;height: 0px;padding-left: 3px;padding-right: 3px; padding-bottom: 3px; padding-top: 3px;}
        th[data-col='auditor']      { font-size: 12px;height: 0px;padding-left: 3px;padding-right: 3px; padding-bottom: 3px; padding-top: 3px;}
        th[data-col='area']    { font-size: 12px;height: 0px;padding-left: 3px;padding-right: 3px; padding-bottom: 3px; padding-top: 3px;}
        th[data-col='responsable'] { font-size: 12px;height: 0px;padding-left: 3px;padding-right: 3px; padding-bottom: 3px; padding-top: 3px;}
        th[data-col='accion']   { font-size: 12px;height: 0px;padding-left: 3px;padding-right: 3px; padding-bottom: 3px; padding-top: 3px;}

        td[data-col='auditoria']    { text-align: left; font-size: 12px;height: 0px;padding-left: 3px;padding-right: 3px; padding-bottom: 3px; padding-top: 3px;}
        td[data-col='fecha']  { font-size: 12px;height: 0px;padding-left: 3px;padding-right: 3px; padding-bottom: 3px; padding-top: 3px;}
        td[data-col='estado']     { text-align: left;font-size: 12px;height: 0px;padding-left: 3px;padding-right: 3px; padding-bottom: 3px; padding-top: 3px;}
        td[data-col='auditor']      { text-align: left;font-size: 12px;height: 0px;padding-left: 3px;padding-right: 3px; padding-bottom: 3px; padding-top: 3px;}
        td[data-col='area']    { text-align: left;font-size: 12px;height: 0px;padding-left: 3px;padding-right: 3px; padding-bottom: 3px; padding-top: 3px;}
        td[data-col='responsable'] { text-align: left;font-size: 12px;height: 0px;padding-left: 3px;padding-right: 3px; padding-bottom: 3px; padding-top: 3px;}
        td[data-col='accion']   { font-size: 12px;height: 0px;padding-left: 3px;padding-right: 3px; padding-bottom: 3px; padding-top: 3px;}



    }
} 

.div-principal{
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.div-botones-superiores{
    margin-bottom: 5px;
    margin-top: 2px;
}

.botones-superiores{
    font-size: 12px;
    padding: 6px 12px;
	margin-right: 4px;
    width: 96px;
    height: 30px;
    margin-bottom: 0px;
    margin-top: 0px;

}

.cajas-texto {
   height: 31px;
   font-size: 12px;
}

.botones-buscador {
    height: 31px;
    font-size: 12px;
 }

 .div-secundario{
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
} 

.botones-detalle {
    padding: 3px 7px;
    font-size: 11px;
    margin-right: 4px;
    line-height: 1.5;
    border-radius: 3px;
    width: 25px;
    height: 24px;
}

.texto-pie-pag {
    font-size: 12px;
}