<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="text-center m-t-lg">
                <h1>
                   aa Welcome in aaInspinia Angularaaass 4 Starter Project.
                </h1>
              <h1>
                aa
              </h1>
                <small>
                  <strong>{{text}}</strong> It is an applssication skeleton for a typical web app. You can use it to quickly bootstrap your webapp projects and dev environment.
                </small>
            </div>
        </div>
    </div>
</div>
