<div class="row wrapper border-bottom white-bg page-heading" style="padding-bottom: 0px;padding-left: 0px;padding-top: 0px;">
    <!-- Titulo -->
    <div class="col-lg-12" >
    <!--<h2>Registro de Fase: Elaboración</h2>-->
    <h4 style="margin-top: 5px;margin-bottom: 5px;" >Tareas / Homologación / Registro Homologación / <strong>Creación Documento</strong>
        <button style="padding-left: 10px;margin-left: 491px;border-bottom-width: 4px;padding-bottom: 3px;padding-top: 3px;"class="btn m-r btn-success" (click)="OnRegresar()"><i class="fa fa-arrow-left"></i> Regresar</button>        
    </h4>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight" style="padding-top: 0px;">
     
    <!-- Tabs -->
    <div class="row">      
    <div class="col-lg-12">
    <div class="ibox-content" >
        <doc-google-docs #idDocGoogle></doc-google-docs>
    </div>
    </div>
    </div>
</div>

