.botonMostrarNuevo{
    display: table-cell;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

.numeroSolicitud{
    width:8%;
}

.estadoSolicitud{
    width:9%;
}

.codDocumento{
    width:12%;
}

.titulo{
    width:20%;
}

.estadoDocumento{
    width:10%;
}

.numeroRevision{
    width:8%;
}

.solicitante{
    width:13%;
}

.motivoCancelacion{
    width:10%;
}

.accion{
    width:10%;
}