<div class="row wrapper border-bottom white-bg page-heading" style="padding-bottom: 5px;">
    <div class="col-lg-12" style="margin-top: 8px">
        <h4>Mantenimiento / Parámetros Generales / <strong>Registrar Parámetro</strong></h4>
    </div>
</div>  

<div class="wrapper wrapper-content animated fadeInRight">
  <div class="row m-b-md">
    <div class="col-lg-12">
        <a class="btn btn-primary" [swal]="{ title: '¿Está seguro que desea Guardar el registro?', type: 'question', showCancelButton: true, confirmButtonText: 'Sí, Grabar', cancelButtonText: 'No gracias' }"
        (confirm)="OnGuardar()" style="margin-right:5px;" ><i class="fa fa-save"></i> Guardar</a>
     
      <a (click)="OnAgregar()" class="btn btn-success m-r"><i class="fa fa-plus"></i> Agregar</a>
      <a class="btn btn-default m-r" (click)="OnRegresar()"><i class="fa fa-arrow-left"></i> Regresar</a>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <div class="ibox-content">
        <form class="form-horizontal">
          <div class="form-group">
            <label class="col-sm-3 control-label">Nombre del Parámetro (*):</label>
            <div class="col-sm-3"><input type="text" class="form-control" name="nombre" [(ngModel)]="v_nomcons" [ngClass]="{'ng-dirty ng-invalid':ValidarNombre}"></div>
            <label class="col-sm-3 control-label">Descripción del Parámetro (*):</label>
            <div class="col-sm-3"><input type="text" class="form-control" name="descripcion" [(ngModel)]="v_descons" [ngClass]="{'ng-dirty ng-invalid':ValidarDescripcion}"></div>

          </div>

          <div class="table-responsive">
            <table class="table table-bordered table-stripped table-hover issue-tracker">
              <thead>
                <tr>
                  <th class="text-center">Valor</th>
                  <th class="text-center">Abreviatura</th>
                  <th class="text-center">Descripción</th>
                  <th class="text-center">Acción</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of listaParametrosPadre; let i = index" (click)="OnRowClick(i, item)"
                  [class.info]="i == selectedRow">
                  <td class="text-left" data-col="valor">{{item.v_valcons}}</td>
                  <td class="text-center" data-col="abriaviatura">{{item.v_abrecons}}</td>
                  <td class="text-left" data-col="descripcion">{{item.v_descons}}</td>
                  <td class="text-center" data-col="accion" style="width:130px;padding-left:0px;padding-right:0px;">
                    <button title="Actualizar" class="btn btn-success btn-sm" (click)="OnModificar(item)"><i
                        class="fa fa-edit"></i></button>
                    <div style="display: inline-block;width: 3%;"></div>
                    <button title="Eliminar" class="btn btn-danger btn-sm" style="margin-right:0px;"
                      [swal]="{ title: '¿Está seguro que desea eliminar el registro?', type: 'question', showCancelButton: true, confirmButtonText: 'Sí, eliminar', cancelButtonText: 'No gracias' }"
                      (confirm)="onEliminar(item)"><i class="fa fa-trash"></i></button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>








