.circleBase{
  border-radius: 50%;
  // border: 1px solid #fff;
  border: none !important;
  // box-shadow: 0 0 0 20px;
  width: 27px;
  height: 27px;
  margin: 0;
  padding: 0;
}

.greenCircle{
  background: #008000;
}
