.table {
    tr {
      td[data-col='chkDigital'] {width: 30px; height: 0px;font-size: 11px;}
      td[data-col='norma'] {width: 217px;height: 0px;font-size: 11px;}
      
      th[data-col='chkDigital'] {width: 30px; height: 0px;}
      th[data-col='norma'] {width: 217px;height: 0px;}
    }
} 

.btn-sm {
  padding: 3px 7px;
  font-size: 11px;
  margin-right: 4px;
  line-height: 1.5;
  border-radius: 3px;
}

.table > tbody > tr > td {
  padding: 3px;
}

.btn-primary, .btn-default, .btn-success{
  font-size: 12px;
  padding: 6px 12px;
}

.btn-info {
  font-size: 12px;
  padding-top: 5px;
  padding-bottom: 8px;
}

.form-control {
  font-size: 12px;
  height: 31.5px;
}

.bt-superior{
  margin-right: 4px;
  width: 96px;
}

.table-fixed{
  width: 100%;
  tbody{
    overflow-y:auto;
    height:259px;    
    width: 100%;
    }
  
  thead,tbody{
    display:block;
  }
}