.pull-left {
    float: left !important;
}

.pull-right {
    float: right !important;
}

.tabla-criterio{
    height:10px
}

.ocultar{
    display:none
}

.mostrar{
    display:block
}

.margen{
    margin: 0 0 30px 0;
}

.centro{
    text-align:center
}


.fecha{
    width:8%
}

.hora{
    width:8%
}

.area{
    width:10%
}

.alcance{
    width:10%
}

.norma{
    width:10%
}

.requisito{
    width:26%
}

.auditor{
    width:15%
}

.acciones{
    width:13%
}


.table {
    tr {
        th[data-col='fecha'] { width: 64px; height: 0px;padding-left: 3px;padding-right: 3px;}
        th[data-col='hora'] { width: 75px;  height: 0px;padding-left: 3px;padding-right: 3px;}
        th[data-col='descripcionEntidad'] {width: 270px; height: 0px;padding-left: 3px;padding-right: 3px;}
        th[data-col='auditor'] {width: 270px;height: 0px;padding-left: 3px;padding-right: 3px;}
        th[data-col='norma'] {width: 100px;height: 0px;padding-left: 3px;padding-right: 3px;}
        th[data-col='requisito'] {height: 0px;padding-left: 3px;padding-right: 3px;}
        th[data-col='accion'] {height: 0px;padding-left: 3px;padding-right: 3px;}

        td[data-col='fecha'] { width: 64px; height: 0px;font-size: 11px;}
        td[data-col='hora'] { width: 75px; height: 0px;font-size: 11px;}
        td[data-col='descripcionEntidad'] {width: 270px;height: 0px;font-size: 11px;}
        td[data-col='auditor'] {width: 270px;height: 0px;font-size: 11px;}
        td[data-col='norma'] {width: 100px;height: 0px;font-size: 11px;}
        td[data-col='requisito'] {height: 0px;font-size: 11px;}
        td[data-col='accion'] {height: 0px;font-size: 11px;}
    }
  } 
  
.btn-sm {
    padding: 3px 7px;
    font-size: 11px;
    margin-right: 4px;
    line-height: 1.5;
    border-radius: 3px;
    width: 25px;
    height: 24px;
}

.btn-principales{
    font-size: 12px;
    padding: 6px 12px;
	margin-right: 4px;
	width: 96px;
}

.btn-success-revisar {
    background-color: #899db1;
    border-color: #899db1;
    color: #FFFFFF;
  }
  
  .btn-success-revisar:hover {
    background-color: #9fb3c7;
  }

.table > tbody > tr > td {
    padding: 3px;
}



.btn-info {
    font-size: 12px;
    padding-top: 5px;
    padding-bottom: 8px;
}

.form-control {
    font-size: 12px;
    height: 31.5px;
}

.bt-div-superior{
    margin-bottom: 5px;
    margin-top: 2px;
}

.div-principal{
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 5px;
    padding-bottom: 5px;
}



.btn-colores {
    color: inherit;
    background: #e6e6e6;
    border-color: #eac2c2;
}

.btn-colores:hover {
    background-color: #fde9e9;
}

.tx-cajas {
    height: 32px;
}

.margen-cajas{
    margin-bottom: 8px;
}

.btn-success-revisar {
    background-color: #899db1;
    border-color: #899db1;
    color: #FFFFFF;
  }
  
  .btn-success-revisar:hover {
    background-color: #9fb3c7;
  }

  .table-fixed{
    width: 100%;
    tbody{
      overflow-y:auto;
      height:259px;    
      width: 100%;
      }

    thead,tbody{
      display:block;
    }
  }
  
  
  

