a:link { color: white!important; text-decoration: none }
a:active { color: white!important; text-decoration: none }
a:visited { color: white!important; text-decoration: none }
a:hover { color: rgb(146, 184, 215)!important; text-decoration: underline }