<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row  border-bottom white-bg dashboard-header animated fadeInRight" style="padding-top: 0px;">
        <div class="col-sm-8">
            <h1><strong>Auditoría</strong></h1>
            <div class="col-md-4"></div>
            <div class="row col-sm-5" align="right">
                <select class="form-control m-b">
                    <option>Programación 1-2018-I Trim</option>
                    <option>Programación 1-2018-II Trim</option>
                    <option selected="selected">Programación 1-2018-III Trim</option>
                    <option>Programación 1-2018-IV Trim</option>
                </select>
            </div>
            <div class="box-form">
                <div class="row">
                    <div class="col-md-12">&nbsp;
                        <canvas baseChart height="114" [datasets]="lineChartData" [labels]="lineChartLabels"
                            [chartType]="lineChartType" [colors]="lineChartColors">
                        </canvas>
                    </div>
                </div>
            </div>
            <hr>
            <div class="row">
            </div>
            <hr>
            <div class="row">
            </div>
        </div>
        <br />
        <div class="col-sm-4" align="right">
            <div class="ibox float-e-margins">
                <div class="ibox-title" style="height:15px;width:250px;padding-top:15px;">
                    <h5>Tareas Pendientes</h5>
                </div>
                <div class="ibox-content" style="width:250px;padding-top:5px;padding-bottom:5px;">
                    <div class="feed-activity-list">
                        <div>
                            <h4 align="left">En Revisión</h4>
                        </div>
                        <div class="feed-element" style="padding-bottom:10px;margin-top:10px;">
                            <div>
                                <div style="height: 25px;">
                                    <a
                                        [routerLink]="['/auditoria/programacion']">Programación&nbsp;&nbsp;&nbsp;&nbsp;</a>
                                    <span class="label label-success pull-right">1</span>
                                </div>
                            </div>
                            <div>
                                <div style="height: 25px;">
                                    <a [routerLink]="['/auditoria/plan-auditoria']">Plan de
                                        Auditoría&nbsp;&nbsp;&nbsp;&nbsp;</a>
                                    <span class="label label-success pull-right">3</span>
                                </div>
                            </div>
                            <div>
                                <div style="height: 25px;">
                                    <a [routerLink]="['/auditoria/lista-verificacion']">Lista de
                                        Verificación&nbsp;&nbsp;&nbsp;&nbsp;</a>
                                    <span class="label label-success pull-right">0</span>
                                </div>
                            </div>
                            <div>
                                <div style="height: 25px;">
                                    <a [routerLink]="['/auditoria/revision-hallazgos']">Revisión de
                                        Hallazgo&nbsp;&nbsp;&nbsp;&nbsp;</a>
                                    <span class="label label-success pull-right">0</span>
                                </div>
                            </div>
                            <div>
                                <div style="height: 25px;">
                                    <a [routerLink]="['/auditoria/bandeja-revision-auditoria']">Informe
                                        Parcial&nbsp;&nbsp;&nbsp;&nbsp;</a>
                                    <span class="label label-success pull-right">0</span>
                                </div>
                            </div>
                            <div>
                                <div style="height: 25px;">
                                    <a [routerLink]="['/auditoria/bandeja-revision-informe']">Informe
                                        Final&nbsp;&nbsp;&nbsp;&nbsp;</a>
                                    <span class="label label-success pull-right">0</span>
                                </div>
                            </div>
                        </div>
                        <div>
                                <h4 align="left">Revisado / Observado</h4>
                            </div>
                            <div class="feed-element" style="padding-bottom:10px;margin-top:10px;">
                                <div>
                                    <div style="height: 25px;">
                                        <a
                                            [routerLink]="['/auditoria/programacion']">Programación&nbsp;&nbsp;&nbsp;&nbsp;</a>
                                        <span class="label label-danger pull-right">2</span>
                                    </div>
                                </div>
                                <div>
                                    <div style="height: 25px;">
                                        <a [routerLink]="['/auditoria/plan-auditoria']">Plan de Auditoría&nbsp;&nbsp;&nbsp;&nbsp;</a>
                                        <span class="label label-danger pull-right">0</span>
                                    </div>
                                </div>
                            </div>
                        <div>
                            <h4 align="left">Para Aprobación</h4>
                        </div>
                        <div class="feed-element" style="padding-bottom:10px;margin-top:10px;border-bottom-width: 0px;">
                            <div>
                                <div style="height: 25px;">
                                    <a
                                        [routerLink]="['/auditoria/programacion']">Programación&nbsp;&nbsp;&nbsp;&nbsp;</a>
                                    <span class="label label-danger pull-right">1</span>
                                </div>
                            </div>
                            <div>
                                <div style="height: 25px;">
                                    <a [routerLink]="['/auditoria/plan-auditoria']">Plan de
                                        Auditoría&nbsp;&nbsp;&nbsp;&nbsp;</a>
                                    <span class="label label-danger pull-right">3</span>
                                </div>
                            </div>
                            <div>
                                <div style="height: 25px;">
                                    <a [routerLink]="['/auditoria/lista-verificacion']">Lista de
                                        Verificación&nbsp;&nbsp;&nbsp;&nbsp;</a>
                                    <span class="label label-danger pull-right">0</span>
                                </div>
                            </div>
                            <div>
                                <div style="height: 25px;">
                                    <a [routerLink]="['/auditoria/revision-hallazgos']">Revisión de
                                        Hallazgo&nbsp;&nbsp;&nbsp;&nbsp;</a>
                                    <span class="label label-danger pull-right">0</span>
                                </div>
                            </div>
                            <div>
                                <div style="height: 25px;">
                                    <a [routerLink]="['/auditoria/bandeja-revision-auditoria']">Informe
                                        Parcial&nbsp;&nbsp;&nbsp;&nbsp;</a>
                                    <span class="label label-danger pull-right">0</span>
                                </div>
                            </div>
                            <div>
                                <div style="height: 25px;">
                                    <a [routerLink]="['/auditoria/bandeja-revision-informe']">Informe
                                        Final&nbsp;&nbsp;&nbsp;&nbsp;</a>
                                    <span class="label label-danger pull-right">0</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>