<!--<form (ngSubmit)="guardar()" [formGroup]="registroRequisitosForm" #formDir="ngForm" novalidate>
  <div class="modal-header">
      <h4 class="modal-title pull-left"> Detalle de Detecciones</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
          <span aria-hidden="true">&times;</span>
      </button>
  </div>
  <div class="modal-body">
  
      <div class="container">
        <div class="col-md-4">
         <div class="row">
            <label class="col-sm-4 control-label">Fecha y Hora:</label>
            <div class="col-sm-8">
                <input  type="text" class="form-control" name="fechayHora" formControlName="fechayHora"  >
            </div>
          </div>
          <br/>

          <div class="row">
            <label class="col-sm-4 control-label">Norma:</label>
            <div class="col-sm-8">
                <select class="form-control" name="normaRequisito" formControlName="normaRequisito" [(ngModel)]="requisito.norma">
                    <option value="" selected>Seleccionar</option>
                    <option value="1">ISO-9001:2014</option>
                    <option value="2">ISO-14001:2014</option>
                </select>
            </div>
            </div>
            <br/>
          
         


              <br/>
        </div>

        <div class="col-md-4">
            <div class="row">
                <label class="col-sm-4 control-label">Tipo :</label>
                <div class="col-sm-8">
                    <input  type="text" class="form-control" name="tipo" formControlName="tipo"  >
                </div>
              </div>
              <br/>   
              <div class="row">
                  <label class="col-sm-4 control-label">Detector :</label>
                  <div class="col-sm-8">
                      <input  type="text" class="form-control" name="detector" formControlName="detector" [(ngModel)]="requisito.detector" >
                  </div>
                </div>
                <br/>
              
          </div>
          <div class="col-md-4">

        <div class="row">
            <label class="col-sm-4 control-label">Origen de Detección :</label>
            <div class="col-sm-8">
                <input  type="text" class="form-control" name="origenDeteccion" formControlName="origenDeteccion" [(ngModel)]="requisito.origenDeteccion" >
            </div>
          </div>
          <br/>

          <div class="row">
              <label class="col-sm-4 control-label">Tipo no Conformidad :</label>
              <div class="col-sm-8">
                  <select class="form-control" name="tipoNoConformidad" formControlName="tipoNoConformidad" [(ngModel)]="requisito.tipoNoConformidad">
                      <option value="" selected>Seleccionar</option>
                      <option value="1">SAC</option>
                      <option value="2">SAP</option>
                  </select>
              </div>
            </div>
            <br/>
         
              <br/>

            </div>

        </div>

      <br/>
      <br/>
  
      <div class="panel panel-success">
        <div class="panel-heading">Seleccione Gerencia/Equipo</div>
        <div class="panel-body">
            <div class="row">
                <div class="col-lg-6">
                      <div class="row">
                          <div class="col-sm-4">
                              <label>
                              <input name="radioFormato" (click)="obtenerClick($event)" type="radio" value="1" [checked]="requisito.valorTipoEntidad == 1">Gerencia (Áreas)</label>
                          </div>
                          <div class="col-sm-8">
                              <select class="form-control" name="valorGerencia" formControlName="valorGerencia" [(ngModel)] = "requisito.valorEntidadGerencia">
                              <option value="" selected>Seleccionar</option>
                              <option *ngFor="let item of listaGerencias" [ngValue]="item">{{item.descripcionGerencia}}</option>
                              </select>
                          </div>
                      </div>
                      <br/>
                      <div class="row">
                          <div class="col-sm-4">
                              <label>
                              <input name="radioFormato" (click)="obtenerClick($event)" type="radio" value="2" [checked]="requisito.valorTipoEntidad == 2">Equipo</label>
                          </div>
                          <div class="col-sm-8">
                              <select class="form-control" name="valorEquipo" formControlName="valorEquipo" [(ngModel)] = "requisito.valorEntidadEquipo">
                              <option value="" selected>Seleccionar</option>
                              <option *ngFor="let item of listaEquipos" [ngValue]="item">{{item.descripcionEquipo}}</option>
                              </select>
                          </div>
                      </div>
                      <br/>
                </div>
  
                <div class="col-lg-6">
                    <div class="row">
                          <div class="col-sm-2">
                          
                          <label>Responsable</label>                            
                            </div>
                          <div class="col-sm-10">                      
                              <input name="txtResponsable" (click)="obtenerClick($event)" type="text" value="Maria Luisa Ormeño Solano" style="width: 260px;">                            
                          </div>
                    </div>
  
                    <div class="row">
                          <div class="wrapper wrapper-content animated fadeInRight">
                            
                          </div>
                      </div>
                </div>
        
            </div>
        </div>
      </div>
  
      <div class="row">
          <div class="col-md-3">
              <div>
                  <label>Requisitos</label>
              </div>
              <div class="panel panel-success">
                  <div class="panel-body panel-select">
                      <tree-root #tree [nodes]="listaRequisitos" [options]="treeOptions" ></tree-root>
                  </div>
              </div>
              
          </div>
          <div class="col-md-3" >
              <div class="col-centered text-center">
                  <input type="button" (click)="seleccionarRequisitos()" class="botonSeleccion circulo"  value="> "><br/><input type="button" (click)="quitarRequisitos()" class="botonSeleccion circulo" value="< "><br />
                  <input type="button" (click)="seleccionarTodos()" class="botonSeleccion circulo" value=">>"><br/><input type="button" (click)="quitarTodos()" class="botonSeleccion circulo" value="<<">
              </div>
                  
          </div>
          <div class="col-md-3">
              <div>
                  <label>Requisitos Asignados</label>
              </div>
              <select name="listaDestino" formControlName="listaDestino" class="lista" multiple="multiple" size="8">
                    <option *ngFor="let item of listaDestino" [ngValue]="item"  >{{item.nombre}}</option>
              </select>
              
          </div>

          

         <div class="col-md-3">
              <div>
                  <label>Descripción del Hallazgo</label>
              </div>          
               <textarea class="form-control margen" rows="5"  > </textarea>
             
              <br />
              
          </div>   
       
        </div>
  
  
      
  </div>
  <div class="modal-footer">
      <button type="submit" class="btn btn-success" >Aprobar</button>
      <button type="submit" class="btn btn-success" >Grabar</button>
      <button type="button" class="btn btn-default" (click)="cancelar()">Cancelar</button>
  </div>
  </form>
-->