.boton-imprimir{

    margin-left: 3px;
    margin-right: 3px;
}

.titulo-label{
    margin-bottom:5px;
}

.contenedor-botones{
    
    margin-bottom: 10px;
   
}
.ibox-content{
    height: 51rem;
    padding-left: -50px;
    padding-bottom: -50px;
}

.btn-colores{
    color: inherit;
    background: #e6e6e6;
    border-color: #eac2c2; 
}

.btn-colores:hover{
    background-color:#fde9e9;
}

.a{
    font-size: 13px;
}

.div-principal1{
    margin-left: -20px;
    margin-right: -20px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.tabla-detalle{
    height: 120px;
}

.tabla-audior{

    margin-top: -10px;
    margin-left: -15px;
    margin-bottom: 2px;
    width: 1055px;
}

.contenedor-detalle{
  
    height: 298px;
}