<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-12">
        <h4>Inicio / Auditoría / <strong>Áreas</strong></h4>
    </div>
</div>


<div class="wrapper wrapper-content animated fadeInRight div-principal">

    <div class="row m-b-md div-botones-superiores">
        <div class="l-md-1 col-lg-1 boton">
            <a [routerLink]="['registrar']" class="btn btn-primary botones-superiores"><i class="fa fa-plus"></i>
                Nuevo</a>
        </div>
        <div class="col-md-6 col-lg-5">
            <div class="row input-group">
                <div *ngIf="filtroBusqueda === 1" class="col-6">
                    <input type="text" placeholder="Ingrese nombre del área" class="form-control cajas-texto"
                        [(ngModel)]="textoBusqueda">
                </div>
                <div *ngIf="filtroBusqueda === 2" class="col-6">
                    <ng-select [items]="lstTipos" bindLabel="nom_tipo" [(ngModel)]="modeloTipo" [clearable]="false"
                        [searchable]="false" class="custom">
                    </ng-select>
                </div>
                <span class="col-6 input-group-btn" dropdown>
                    <button type="button" class="btn btn-info botones-buscador" (click)="onFiltrar()"><i
                            class="fa fa-search"></i></button>
                    <button dropdownToggle type="button"
                        class="btn btn-info dropdown-toggle dropdown-toggle-split botones-buscador"><i
                            class="fa fa-caret-down"></i></button>
                    <ul *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="button-split">
                        <li role="menuitem" [class.active]="parametroBusqueda == 'numFicha'"><a
                                (click)="setParametroBusqueda(1)">Área</a></li>
                        <li role="menuitem" [class.active]="parametroBusqueda == 'nombreAuditor'"><a
                                (click)="setParametroBusqueda(2)">Tipo de Área</a></li>
                    </ul>
                </span>
            </div>
        </div>
        <div class="col-md-2 col-lg-2">
            <button (click)="onLimpiar()" class="btn btn-light btn-colores botones-superiores"><i
                    class="fa fa-eraser"></i> Limpiar</button>
        </div>

    </div>


    <div class="row">
        <div class="col-lg-12">
            <div class="ibox-content div-secundario" style=" height: 480px;" [ngClass]="{'sk-loading': loading}">
                <sk-three-bounce></sk-three-bounce>
                <div class="table-responsive" style="height: 450px;">
                    <table class="table table-bordered table-stripped table-hover">
                        <thead>
                            <tr>
                                <th class="text-center" data-col="area">Área</th>
                                <th class="text-center" data-col="responsable">Responsable</th>
                                <th class="text-center" data-col="tipo">Tipo de Área</th>
                                <th class="text-center" data-col="accion">Acción</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of onListarRangoAreaAuditoria(); let i = index">
                                <td class="text-left" data-col="area">{{item.v_nom_area}}</td>
                                <td class="text-left" data-col="responsable">{{item.responsable}}</td>
                                <td class="text-center" data-col="tipo">{{item.n_id_tipo | tipoArea}}</td>
                                <td class="text-center" data-col="accion">
                                    <button title="Actualizar" class="btn btn-success btn-sm m-r botones-detalle"
                                        (click)="onModificar(item)"><i class="fa fa-edit"></i></button>
                                    <button title="Eliminar" class="btn btn-danger btn-sm m-r botones-detalle"
                                        (click)="onEliminar(item)"><i class="fa fa-trash"></i></button>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <div class="row m-b-sm">
                        <div class="col-md-4 col-sm-6 col-xs-12">
                            <pagination [(ngModel)]="paginacion.pagina" (pageChanged)="OnPageChanged($event)"
                                [totalItems]="paginacion.totalRegistros" [itemsPerPage]="paginacion.registros"
                                [boundaryLinks]="true" [maxSize]="5" previousText="&lsaquo;" nextText="&rsaquo;"
                                firstText="&laquo;" lastText="&raquo;">
                            </pagination>
                        </div>
                        <div class="col-md-4 col-sm-6 col-xs-12">
                            <div class="text-center">
                                <pagination-info [totalItems]="paginacion.totalRegistros"
                                    [itemsPerPage]="paginacion.registros" [page]="paginacion.pagina">
                                </pagination-info>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6 col-xs-12" class="text-center">
                            Mostrar
                            <div class="btn-group" dropdown [dropup]="true">
                                <button dropdownToggle type="button" class="btn btn-sm dropdown-toggle"
                                    aria-controls="dropdown-dropup">
                                    {{selectedOption}} <span class="caret"></span>
                                </button>
                                <ul *dropdownMenu class="dropdown-menu" role="menu">
                                    <li role="menuitem" *ngFor="let p of pagingOptions"><a class="dropdown-item"
                                            (click)="change(p)"> {{p}} </a></li>
                                </ul>
                            </div>
                            registros por página
                        </div>
                    </div>

                </div>
            </div>



        </div>
    </div>
</div>