.pull-left {
    float: left !important;
  }
  
  .pull-right {
    float: right !important;
  }

  .table {
    tr {
        th[data-col='programa'] { font-size: 12px;height: 0px;padding-left: 3px;padding-right: 3px; padding-bottom: 3px; padding-top: 3px;}
        th[data-col='estadoP']  { width: 160px;font-size: 12px;height: 0px;padding-left: 3px;padding-right: 3px; padding-bottom: 3px; padding-top: 3px;}
        th[data-col='accion']  {  width: 62px; font-size: 12px;height: 0px;padding-left: 3px;padding-right: 3px; padding-bottom: 3px; padding-top: 3px;}
  
        td[data-col='programa'] { text-align: left; font-size: 11px;height: 0px;padding-left: 3px;padding-right: 3px; padding-bottom: 3px; padding-top: 3px;}
        td[data-col='estadoP']  { text-align: left;font-size: 11px;height: 0px;padding-left: 3px;padding-right: 3px; padding-bottom: 3px; padding-top: 3px;}
        td[data-col='accion']  { font-size: 11px;height: 0px;padding-left: 3px;padding-right: 3px; padding-bottom: 3px; padding-top: 3px;}
    }
  } 
  
  .div-principal{
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 5px;
    padding-bottom: 5px;
  }
  
  .div-botones-superiores{
    margin-bottom: 5px;
    margin-top: 2px;
  }
  
  .botones-superiores{
    font-size: 12px;
    padding: 6px 12px;
  margin-right: 4px;
    width: 96px;
    height: 30px;
    margin-bottom: 0px;
    margin-top: 0px;
  
  }
  
  .cajas-texto {
   height: 31px;
   font-size: 12px;
  }
  
  .botones-buscador {
    height: 31px;
    font-size: 12px;
  }
  
  .div-secundario{
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
  } 
  
  .botones-detalle {
    padding: 3px 7px;
    font-size: 11px;
    margin-right: 4px;
    line-height: 1.5;
    border-radius: 3px;
    width: 25px;
    height: 24px;
  }
  
  .texto-pie-pag {
    font-size: 12px;
  }