<div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-12">
                <h4>Inicio / Seguimiento / Programa Anual de Auditoría Interna / <strong>Detalle de Programa Anual de Auditoría Interna</strong>
                </h4>
        </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight div-principal">
        <div class="row m-b-md div-botones-superiores">
                <div class="col-lg-6">
                        <a class="btn btn-default btn-colores m-r botones-superiores" (click)="OnRegresar()"><i class="fa fa-arrow-left"></i> Regresar</a>
                </div>
                <div class="col-lg-6"></div>
        </div>
        <div class="row">
                <div class="col-lg-12">
                        <div class="ibox-content div-secundario" style=" height: 481px;"
                                [ngClass]="{'sk-loading': loading}">
                                <div class="table-responsive" style="height: 344px;">
                                        <table class="table table-bordered table-stripped table-hover issue-tracker">
                                                <thead>
                                                        <tr>
                                                                <th class="text-center" data-col="programa">Programa</th>
                                                                <th class="text-center" data-col="revisor">Revisor</th>
                                                                <th class="text-center" data-col="rol">Rol</th>
                                                                <th class="text-center" data-col="fecha">Inicio Revisión</th>
                                                                <th class="text-center" data-col="fecha">Fin Revisión</th>
                                                                <th class="text-center" data-col="estadoR">Estado de Revisión</th>
                                                        </tr>
                                                </thead>
                                                <tbody>
                                                        <tr>
                                                                <td class="text-center" data-col="programa">Auditoria Interna XXI</td>
                                                                <td class="text-center" data-col="revisor">JUAN VALDEZ MERCADO</td>
                                                                <td class="text-center" data-col="rol">RAD</td>
                                                                <td class="text-center" data-col="fecha">01/09/2019</td>
                                                                <td class="text-center" data-col="fecha">30/09/2019</td>
                                                                <td class="text-center" data-col="estadoR">En Revisión</td>
                                                        </tr>
                                                        <tr>
                                                                <td class="text-center" data-col="programa">Auditoria Interna XXI</td>
                                                                <td class="text-center" data-col="revisor">MARIA UGARTE SANCHEZ</td>
                                                                <td class="text-center" data-col="rol">Coordinador</td>
                                                                <td class="text-center" data-col="fecha">01/09/2019</td>
                                                                <td class="text-center" data-col="fecha">30/09/2019</td>
                                                                <td class="text-center" data-col="estadoR">En Revisión</td>
                                                        </tr>
                                                        <tr>
                                                                <td class="text-center" data-col="programa">Auditoria Interna XXI</td>
                                                                <td class="text-center" data-col="revisor">LUIS LOPEZ CRUZADO</td>
                                                                <td class="text-center" data-col="rol">Coordinador</td>
                                                                <td class="text-center" data-col="fecha">01/09/2019</td>
                                                                <td class="text-center" data-col="fecha">30/09/2019</td>
                                                                <td class="text-center" data-col="estadoR">En Revisión</td>
                                                        </tr>
                                                        <tr>
                                                                <td class="text-center" data-col="programa">Auditoria Interna XXI</td>
                                                                <td class="text-center" data-col="revisor">MARILEZ DIAS ORBEGOZO</td>
                                                                <td class="text-center" data-col="rol">Coordinador</td>
                                                                <td class="text-center" data-col="fecha">01/09/2019</td>
                                                                <td class="text-center" data-col="fecha">30/09/2019</td>
                                                                <td class="text-center" data-col="estadoR">Revisado</td>
                                                        </tr>
                                                </tbody>
                                        </table>
                                </div>
                                <div class="row" style="margin-top: 10px;">
                                        <div class="col-md-4 col-sm-12 col-xs-12">
                                                <pagination [(ngModel)]="paginacion.pagina"
                                                        
                                                        [totalItems]="paginacion.totalRegistros"
                                                        [itemsPerPage]="paginacion.registros" [boundaryLinks]="true"
                                                        [maxSize]="5" previousText="&lsaquo;" nextText="&rsaquo;"
                                                        firstText="&laquo;" lastText="&raquo;"></pagination>
                                        </div>
                                        <div class="col-md-4 col-sm-6 col-xs-12">
                                                <div class="text-center m-a-sm">
                                                        <pagination-info [totalItems]="paginacion.totalRegistros"
                                                                [itemsPerPage]="paginacion.registros"
                                                                [page]="paginacion.pagina"></pagination-info>
                                                </div>
                                        </div>
                                        <div class="col-md-4 col-sm-6 col-xs-12">
                                                <div class="text-right m-a-sm">
                                                        <pagination-set class="texto-pie-pag"
                                                                >
                                                        </pagination-set>
                                                </div>
                                        </div>
                                </div>
                        </div>
                </div>
        </div>
</div>
