<div class="container-fluid margin-top-20">
  <div class="form-horizontal">
    <div class="form-group">
      <div class="col-md-3">
         
        <label>Fecha de Registro:</label>
        <div class="input-group">
          <input bsDatepicker #dp1="bsDatepicker" type="text" class="form-control" placeholder="Ej: 01/01/2019"   [(ngModel)]="fechaCritica"
                 [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY', containerClass: 'theme-dark-blue' }">
          <span class="input-group-addon" title="Elegir Fecha"><i class="fa fa-calendar" (click)="dp1.toggle()" [attr.aria-expanded]="dp1.isOpen"></i></span>
        </div>
        
      </div>
      <div class="col-lg-5" >
        <label>Colaborador:</label>
        <div class="input-group">
          <input type="text" placeholder="Ej: Luis Rojas Puell" class="form-control" [(ngModel)]="nombreColaborador" disabled="disabled">
          <span class="input-group-btn" dropdown>
            <button type="button" class="btn btn-info" (click)="obtenerColaborador()"><i class="fa fa-search"></i></button>
          </span>
        </div>
      </div>
      <div class="col-md-2">
        <label>Fase:</label>
        <!--<select  class="form-control" name="valorTipo" [(ngModel)]="codigoFase">
          <!- -<option *ngIf="MuesElabor" value="128" selected>Elaboración</option>- ->
          <option value="128" selected>Elaboración</option>
          <option value="129" selected>Consenso</option>
          <option value="130" selected>Aprobación</option>
          <option value="131" selected>Homologación</option>
        </select>-->
        <select name="status" id="status" class="form-control" [(ngModel)] = "codigoFase">
          <option *ngFor="let item of listaTipoFases" [value]="item.idconstante">{{item.v_valcons}}</option>
        </select>
      </div>
    </div>
    <div class="form-group">
      <div class="col-md-10">
        <label class="control-label">Observación:</label>
        <textarea rows="4" class="form-control" placeholder="Ingresar observación" placement="bottom" maxlength="250"    [(ngModel)]="observacion"></textarea>
      </div>
    </div>
  </div>
</div>
