<br> 
<div class="btn-group">
    <a (click)="OnNuevo()" class="btn btn-primary"><i class="fa fa-plus"></i> Nuevo</a>  
                                  
    <button class="btn btn-danger" [disabled]="selectedRow<0"
            [swal]="{ title: '¿Está seguro que desea eliminar el registro?', type: 'question', showCancelButton: true, confirmButtonText: 'Sí, eliminar', cancelButtonText: 'No gracias' }"
             >
        <i class="fa fa-trash"></i> Eliminar
    </button>

</div>
<hr>
  <div>
        <div class="table-responsive">
<table class="table table-bordered table-stripped table-hover issue-tracker">
  <thead>
      <tr>                                        
          <th class="text-center">Equipo</th>
          <th class="text-center">{{constanteRevision['Titulo_Participante_'+tipoParticipante]}} (*)</th>
          
      </tr>
  </thead>
  <tbody>
  <tr *ngFor="let item of items; let i = index" (click)="OnRowClick(i, item)" [class.info]="i == selectedRow">                                        
      
      <td class="text-center" data-col="codigo">{{item.equipo}}</td>
      <td class="text-center" data-col="verdocumento">{{item.participante}}</td>
      
  </tr>
  </tbody>
</table>
</div>
<div class="row">
        <div class="col-md-4 col-sm-12 col-xs-12">
            <pagination [(ngModel)]="paginacion.pagina"  [itemsPerPage]="paginacion.registros" [boundaryLinks]="true" [maxSize]="5" previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;"></pagination>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="text-center m-a-sm">
                <pagination-info [totalItems]="paginacion.totalRegistros" [itemsPerPage]="paginacion.registros" [page]="paginacion.pagina"></pagination-info>
            </div>
        </div>
        <div class="col-md-5 col-sm-6 col-xs-12">
            <div class="text-right m-a-sm">
                <pagination-set ></pagination-set>
            </div>
        </div>
    </div>
</div>