<div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-10">
            <h2>Preguntas V/F</h2>
            <ol class="breadcrumb">
                <li> 
                    <a routerLink="starterview">Inicio</a>
                </li>
                <li>
                    <a>Bandeja Preguntas por Curso</a>
                </li>
                <!-- <li>
                    <a>Registro Nuevas Preguntas V/F</a>
                </li> -->
                <li class="active">
                    <strong>Nuevas Preguntas V/F</strong>
                </li>                
            </ol>
        </div>
        <div class="col-lg-2">
        </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">   
    <div class="row m-b-md">
        <div class="col-lg-12">
            <a class="btn btn-success m-r" ><i class="fa fa-check"></i> Guardar</a>
                <a class="btn btn-default m-r" (click)="OnRegresar()"><i class="fa fa-arrow-left"></i> Regresar</a>
        </div>
    </div>
</div>  
<form class="form-horizontal ibox-content">  
    <div class="row">                        
        <div class="col-lg-12">
            <div class="row form-group">                        
                <label class="col-sm-2 control-label">Código de Curso :</label>
                <div class="col-sm-4"><input type="text" class="form-control" name="numFicha"  disabled="true" value="CU0001"></div>                            
            </div>    
        </div>
        <div class="col-lg-12">
            <div class="row form-group">                        
                <label class="col-sm-2 control-label">Curso :</label>
                <div class="col-sm-4"><input type="text" class="form-control" name="numFicha"  disabled="true" value="Comunicaciones"></div>                            
            </div>  
        </div>
        <div class="col-lg-12">
            <div class="row form-group">                        
                <label class="col-sm-2 control-label">Código Pregunta :</label>
                <div class="col-sm-4"><input type="text" class="form-control" name="numFicha" value="PREG0004"></div>                            
            </div>    
        </div>    
        <div class="col-lg-12">
            <div class="row form-group">                        
                <label class="col-sm-2 control-label">Pregunta :</label>
                <div class="col-sm-4"><input type="text" class="form-control" name="numFicha" value="¿Es redonda la luna?"></div>                           
            </div>
        </div>
        <div class="col-lg-12">
            <div class="row form-group">                        
                <label class="col-sm-2 control-label">Respuesta :</label>
                <div class="col-sm-4">                        
                    <ng-select 
                     bindLabel="tipo"
                     bindValue="tipo"
                     ng-value="SI"
                     [clearable]="false"
                     name="tipo">
                    </ng-select>
                </div>                           
            </div>
        </div>  
        <div class="col-lg-12">
            <div class="row form-group">                                                        
                <label class="col-sm-2 control-label">Puntaje :</label>
                <div class="col-sm-4">
                    <div class="col-sm-3"><input type="text" name="cargo" value="1"></div>
                    <div class="col-sm-9"><input type="text" name="cargo" disabled="true" value="Punto(s)."></div>
                </div>     
            </div>      
        </div>    
    </div>    
</form>    