<div class="row wrapper border-bottom white-bg page-heading" style="padding-bottom: 5px;">
    <div class="col-lg-12" style="margin-top: 8px">
        <h4>Seguimiento / <strong>Descarga de Videos y Plantillas del Sistema</strong></h4>
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row m-b-sm">
        <div *authIf="session.ACL.ID_CON_DescargaVideosPlantillas_CREAR" class="col-lg-1">
            <button class="btn btn-success  m-r" (click)="OnCargar()"><i class="fa fa-plus"></i> Nuevo</button>
        </div>
        <div class="col-lg-4">
            <div class="input-group">
                <div>
                    <input type="text" placeholder="Ingrese Descripción" (keyup)="habilitarBuscar()" class="form-control"
                        [(ngModel)]="textoBusqueda">
                </div>
                <ng-template [authIf]="session.ACL.ID_CON_DescargaVideosPlantillas_BUSCAR">
                    <span class="input-group-btn" dropdown>
                        <button [disabled]="deshabilitarBuscar" type="button" class="btn btn-info" (click)="OnBuscar()"><i
                                class="fa fa-search"></i></button>
                    </span>
                </ng-template>
            </div>
        </div>
        <div class="col-lg-4">
            <button class="btn btn-light" (click)="limpiar()"><i class="fa fa-eraser"></i> Limpiar</button>
        </div>
    </div>
    <div class="row">
            <div *ngIf="mostrarAlerta">
                <alert type="info">
                    <span [innerHtml]="mensajeAlerta"></span>
                </alert>
            </div>
            <div class="form-group">
                    <div class="ibox-content" [ngClass]="{'sk-loading': loading}">
                        <sk-three-bounce></sk-three-bounce>
                        <div class="table-responsive">
                            <table class="table table-bordered table-stripped table-hover issue-tracker">
                            <thead>
                            <tr>
                                <th class="text-center">Tipos</th>
                                <th class="text-center">Descripción</th>
                                <th class="text-center">Archivo</th>
                                <th class="text-center">Acción</th>
                            </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of items; let i = index" (click)="OnRowClick(i, item)" [class.info]="i == selectedRow">
                                    <td class="text-center" data-col="tipo">{{item.tipoplan}}</td>
                                    <td class="text-left" data-col="descripcion">{{item.desplan}}</td>
                                    <td class="text-left" data-col="video">{{item.nomplan}}</td>
                                    <td class="text-center" data-col="accion" style="width:120px;padding-left:0px;padding-right:0px;">
                                    <div class="col-md-12 text-center">
                                        <div class="btn-group">
                                            <button *authIf="session.ACL.ID_CON_DescargaVideosPlantillas_EXPORTAR" (click)="abrir(item.rutplan)"
                                                class="btn btn-primary btn-sm" style="margin-right:3px"><i class="fa fa-download"></i></button>
                                            <button title="Eliminar" *authIf="session.ACL.ID_CON_DescargaVideosPlantillas_ELIMINAR"
                                                class="btn btn-danger btn-sm"
                                                [swal]="{ title: '¿Está seguro que desea eliminar el registro?', type: 'question', showCancelButton: true, confirmButtonText: 'Sí, eliminar', cancelButtonText: 'No gracias' }"
                                                (confirm)="onEliminar(item)"><i class="fa fa-trash"></i>
                                            </button>
                                        </div>
                                    </div>
                                    </td>
                                </tr>
                            </tbody>
                            </table>
                        </div>
                        <div class="row">
                            <div class="col-md-4 col-sm-12 col-xs-12">
                            <pagination [(ngModel)]="paginacion.pagina" (pageChanged)="OnPageChanged($event)" [totalItems]="paginacion.totalRegistros" [itemsPerPage]="paginacion.registros" [boundaryLinks]="true" [maxSize]="5" previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;"></pagination>
                            </div>
                            <div class="col-md-4 col-sm-6 col-xs-12">
                            <div class="text-center m-a-sm">
                                <pagination-info [totalItems]="paginacion.totalRegistros" [itemsPerPage]="paginacion.registros" [page]="paginacion.pagina"></pagination-info>
                            </div>
                            </div>
                            <div class="col-md-4 col-sm-6 col-xs-12">
                            <div class="text-right m-a-sm">
                                <pagination-set (optionChanged)="OnPageOptionChanged($event)"></pagination-set>
                            </div>
                            </div>
                        </div>
                        </div>
            </div>
        </div>
</div>
